services:
  redis:
      image: redis:7-alpine
      container_name: redis-dev
      restart: always
      ports:
        - "6379:6379"
      command: redis-server --save 60 1 --loglevel warning

  db:
      image: kartoza/postgis:18-3.6--v2025.11.24 # Adjust versions as needed (Postgres 15, PostGIS 3.3)
      container_name: postgis_db
      restart: always
      environment:
        - POSTGRES_USER=root
        - POSTGRES_PASS=secret
        - POSTGRES_DBNAME=geofleet
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  gateway-network:
    driver: bridge